{{>header}}
<title>Dynamic Website Thank You</title>
</head>

<body style="background-color:#fffdff;">

    {{>navbar}}

    <div class="conts">

        <h1> Thank You</h1>
        <p>Your Response have been recorded, We will be get back to you soon</p>

        <a href="/"> <button class="btn-style hero-btn">Back To Website</button> </a>

    </div>
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>