 <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading abh">About Us</h1>
        <p class="text-center sub-heading abp">Grow your Business with us</p>

        <div class="row">

          <div class="col-md-6 col-12 hero-text ">
            <figure>
              {{!-- <img src="/public/img/menu-6.png" alt="Hero Section Image"> --}}
              <div class="imgs">
              <img src="img/ab1.jpg" alt="">
              </div>
            </figure>
          </div>

          {{!-- right side --}}
          <div
            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1 class="n2">We Are Professional developers</h1>
            <p>We Do work hard to provide you with the best <span class="bold-style">User Experience</span></p>
            <button class="btn-style hero-btn">Read More</button>
          </div>

          
        </div>

      </div>
    </div>
  </div>