<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading abh">Our Services</h1>
            <p class="text-center sub-heading abp">Grow your Business with us</p>

            <div class="row">

                <div class="col-md-4 res">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icons">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <div class="con">
                                <h4>Settings</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, aperiam. Lorem
                                    ipsum
                                    dolor sit amet.</p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 res">
                    <div class="box speedup">
                        <div class="our-services  ">
                            {{!-- <div class="fl"> --}}
                                <div class="icons ic">
                                    <img src="https://i.imgur.com/KMbnpFF.png" alt="">
                                </div>
                            {{!-- </div> --}}
                            <div class="con">
                                <h4>SpeedUp</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, aperiam. Lorem
                                    ipsum
                                    dolor sit amet.</p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 res">
                    <div class="box privacy">
                        <div class="our-services settings">
                            <div class="icons">
                                <img src="https://i.imgur.com/AgyneKA.png" alt="">
                            </div>
                            <div class="con">
                                <h4>Privacy</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, aperiam. Lorem
                                    ipsum
                                    dolor sit amet.</p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 res ">
                    <div class="box backup">
                        <div class="our-services settings">
                            <div class="icons">
                                <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                            </div>
                            <div class="con">
                                <h4>Backups</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, aperiam. Lorem
                                    ipsum
                                    dolor sit amet.</p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 res">
                    <div class="box ssl">
                        <div class="our-services settings">
                            <div class="icons">
                                <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                            </div>
                            <div class="con">
                                <h4>SSl Secured</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, aperiam. Lorem
                                    ipsum
                                    dolor sit amet.</p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 res">
                    <div class="box database">
                        <div class="our-services settings">
                            <div class="icons">
                                <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                            </div>
                            <div class="con">
                                <h4>Database</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, aperiam. Lorem
                                    ipsum
                                    dolor sit amet.</p>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>